.show-box-0 {
  position: absolute;
  width: 60%;
  height: auto;
  top: 10%;
  left: 20%;
  border: 4px solid #ffffff;
  z-index: 5;
}

.show-box-1 {
  position: absolute;
  width: 35%;
  height: auto;
  top: 12%;
  left: 12%;
  border: 4px solid #ffffff;
  z-index: 4;
}

.show-box-2 {
  position: absolute;
  width: 35%;
  height: auto;
  top: 12%;
  right: 12%;
  border: 4px solid #ffffff;
  z-index: 3;
}

.show-box-3 {
  position: absolute;
  width: 30%;
  height: auto;
  top: 15%;
  left: 8%;
  border: 4px solid #ffffff;
  z-index: 2;
}

.show-box-4 {
  position: absolute;
  width: 30%;
  height: auto;
  top: 15%;
  right: 8%;
  border: 4px solid #ffffff;
  z-index: 1;
}

.show-info {
  position: absolute;
  width: 100%;
  bottom: 70px;
}
